@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 223 63% 32%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 224 71% 4%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 263 80% 61%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 223 63% 32%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 210 40% 98%;
    --card: 240 10% 9%;
    --card-foreground: 210 40% 98%;
    --popover: 240 10% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 224 71% 4%;
    --secondary: 240 10% 12%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 10% 12%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 210 40% 98%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 10% 12%;
    --input: 240 10% 12%;
    --ring: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image:
      linear-gradient(hsl(var(--border)) 1px, transparent 1px),
      linear-gradient(to right, hsl(var(--border)) 1px, hsl(var(--background)) 1px);
    background-size: 2rem 2rem;
  }
  section {
    @apply py-20 md:py-28;
  }
}
