@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 14% 96%; /* #F9FAFB */
    --foreground: 240 10% 4%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 4%;
    --primary: 174 99% 40%; /* #01C9AD */
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 240 10% 4%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 12 79% 52%; /* #E44D26 */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 174 99% 40%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 210 40% 98%;
    --card: 240 10% 9%;
    --card-foreground: 210 40% 98%;
    --popover: 240 10% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 174 99% 40%;
    --primary-foreground: 240 10% 4%;
    --secondary: 240 10% 12%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 10% 12%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 12 79% 52%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 10% 12%;
    --input: 240 10% 12%;
    --ring: 174 99% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply py-20 md:py-28;
  }
}
